# System
.DS_Store
*.swp
*.swo
.vs/
.vscode/

# Rust
target/
Cargo.lock
**/*.rs.bk

# Godot
.import/
export.cfg
export_presets.cfg
.mono/
data_*/
export/

assets/robo/
assets/future-tank/
assets/local/

entities/robo/
entities/future-tank/
entities/local/
osf-gd.x86_64
godot.x11.opt.64
